.HeaderContainer{
    margin: 0 auto;
    max-width: 1840px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    // height: 8rem;
}

.logo{
    display: flex;
    width: 15rem;
    justify-content: center;
    height: 8rem;
}

