.container{
    width: 100%;

    .IconMenu{
        position: absolute;
        right: 2rem;
        top: 2rem;

    }
    .navBar{
        background: rgba($color: #444444, $alpha: 0.8);
        height: 350px;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        transition: height 0.5s;
        
        .link{
            color: var(--textNotselected);
            
        }

        .selected{
            font-weight: 700;
        }
    }

    div.Menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 350px;

        .DivMenu{
            text-align: center;
            
            width: 100%;
            height: 70px;
            line-height: 70px;
            transition: background-color 0.2s;

            &:hover{
                background-color: #444444;
            }
        }
    }

    .showNavBar{
        display: block;
        height: 0;
        overflow: hidden;
    }
}


@media (min-width:901px) {

    .container{
        display: none;
    }
}